body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #f0f5f5;
    margin: 0 auto;

    color: #333;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}



.text-muted {
    color: #ea0931;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}
.comment{


}

/*input[type=submit] {
  font-size: 24px;
}*/

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}
.st0 {
    fill: #02b3e4
}
#Layer_1 {
    height: 100px;
    width: 100px;
}
.post-content {
    margin-top: 5px;
}
.post-subject{
    text-decoration: none;
}
.blog-container{
padding-left: 120px;
padding-right: 120px;
}
.blog-header{
  margin-bottom: 25px;
  background-color: #e1eaea;
  padding-top: 15px;
}
.blog-logo, .blog-title, .blog-account{

}
.blog-title{
  font-size: 3em;
  font-family: 'Oxygen', sans-serif;
  padding-top: 10px;
}
.blog-title:hover {
  
  color: black;
}
.title-link:hover{
  text-decoration: none;
}
.blog-account{
  height: 105px;
  font-size: 25px;
}
.login-table{
  width: 350px;
  /*border: 1px solid black;*/
}
.login-table-tr > td{

  /*border: 1px solid red;*/
  padding: 10px;
}
.btn-cst{
    color: gray;
    font-style: italic;
    font-size: 17px;
    margin: 10px;
}
@media (min-width: 1200px)
.container {
    width: 981px;
}
