{% extends "base.html" %}

{% block content %}

  {% if error %}

    <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{error}}
                </div>

   {% endif %}


        <div>
  {{post.render() | safe}}
  

  <form method="post" role="form">
                <input type="hidden" class="form-control" id="like" name="like" value="update">
                <button type="submit" class="btn btn-primary">Like {{noOfLikes}}</button>
                 <a class="btn-cst pull-right" href="/deletepost/{{post.key().id()}}">Delete Post</a>
                  <a class="btn-cst pull-right" href="/editpost/{{post.key().id()}}">Edit Post</a> 
            </form>
            <hr/>
            <form method="post" role="form" class="comment-form">
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <input type="text" class="form-control" id="comment" name="comment" value="">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            <hr/>
            {% for c in comments %}
            <blockquote class="comment">
                  <a class="comment-delete btn btn-danger pull-right" href="/deletecomment/{{post.key().id()}}/{{c.key().id()}}">Delete</a>
                <a class="comment-edit btn btn-primary pull-right" href="/editcomment/{{post.key().id()}}/{{c.key().id()}}">Edit</a>
                
                <p>{{ c.comment }}</p>
                <footer>{{ c.getUserName() }}</footer>
            </blockquote>
            {% endfor %}
        </div>

{% endblock %}
